.center {
  text-align: center;
}

.edit {
  color: #A0A0A0;
  margin: 0.3em;
}

.edit:hover {
  cursor: pointer;
  color: #4654A3;
}

#count {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-left: 0.25em;
}




