<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="stick">
        <div class="row" class="centered">
          <a routerLink="/home"><img *ngIf="!smallScreen" src="../assets/FreeTalkLogo.png" id="homeLogo"></a>
          <a routerLink="/home"><img *ngIf="smallScreen" src="../favicon.ico" id="homeLogoMobile"></a>
        </div>
        <div class="row" id="border">
          <div class="col-3"></div>
          <div class="input-group mb-3 col-6 centered">
            <input type="text" class="form-control roundedLeft" placeholder="What's on your mind?" [(ngModel)]="content" (keyup.enter)="addPost()">
            <div class="input-group-append">
              <button class="btn blueButton roundedRight" type="button" (click)="addPost()">Post</button>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-4" id="rightBar">
      <div class="rightStick">
        <input type="text" placeholder="Search FreeTalk" class="form-control rounded" id="searchBar" (keyup.enter)="searchPosts()" [(ngModel)]="search">
        <app-hashtags></app-hashtags>
      </div>
    </div>
  </div>
</div>
