* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container {
  min-width: 100%;
  background: white;
}

#homeHeader {
  border: 0.05em solid #F0F0F0;
  border-right: none;
  border-top: none;
}

.centered {
  text-align: center;
}

#homeLogo {
  width: 400px;
}

#homeLogoMobile {
  width: 200px;
}

.blueButton {
  background: #4654A3;
  color: white;
}

.blueButton:hover {
  background: #270949;
}

#rightBar {
  border-left: 0.05em solid #F0F0F0;
}

.rounded {
  border-radius: 25px !important;
}

.roundedLeft {
  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.roundedRight {
  border-bottom-right-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

#searchBar {
  margin-top: 2em;
  margin-bottom: 2em;
}








