* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.container {
  min-width: 100%;
}

#border {
  border-bottom: 0.05em solid #F0F0F0;
}

.centered {
  text-align: center;
}

#homeLogo {
  width: 400px;
}

#homeLogoMobile {
  width: 200px;
}

.blueButton {
  background: #4654A3;
  color: white;
}

.blueButton:hover {
  background: #270949;
}

#rightBar {
  border-left: 0.05em solid #F0F0F0;
}

.rounded {
  border-radius: 25px !important;
}

.roundedLeft {
  border-bottom-left-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.roundedRight {
  border-bottom-right-radius: 25px !important;
  border-top-right-radius: 25px !important;
}

#searchBar {
  margin-top: 2em;
  margin-bottom: 2em;
}

.stick {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

.rightStick {
  position: sticky;
  right: 0;
  top: 2em;
}


