<div id="post">
  <div class="row">
    <div class="col-1">
      <img src="../../../assets/avatar-1.png" id="avatar">
    </div>
    <div class="col-11">
      <div class="row">
        <p class="bold">{{ post.username }}</p>
<!--        <p class="time">&ensp;•&ensp;{{ post.createdOn | date: "short"}}</p>-->
        <p class="time">&ensp;•</p>
        <p class="time" *ngIf="timeElapsedDays >= 1">&ensp;{{ timeElapsedDays }}d</p>
        <p class="time" *ngIf="timeElapsedHours >= 1">&ensp;{{ timeElapsedHours }}h</p>
        <p class="time">&ensp;{{ timeElapsedMinutes }}m</p>
      </div>
      <div class="row" id="content">{{ post.content }}</div>
      <div class="row" id="interact">

      </div>
    </div>
  </div>
</div>

